
<ul class="navbar-nav" style="width: 50%;">
   
    <li class="d-flex">
        <!-- Logo -->
        <div class="d-flex align-items-center">
            <a asp-controller="Homepage" asp-action="Index" class="h4 text-danger font-weight-bold d-flex align-items-center mb-0">
                <i class="fas fa-laptop-code mr-2"></i>
                <span>TechZone</span>
            </a>
        </div>
    </li>
   
    <li class="nav-item" style="width:80%;">
        <!-- Search Bar -->
        <form class="d-none d-md-flex flex-grow-1 mx-4">
            <div class="input-group w-100">
                <input type="text" name="Keyword" class="form-control border-danger" value="@ViewBag.Keyword" placeholder="Tìm kiếm sản phẩm...">
                <div class="input-group-append">
                    <button class="btn btn-danger" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
    </li>
</ul>


